.pokemon-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.displayed-pokemon-sprite {
    border: .4rem solid #e6e6e6bb;
    border-radius: 2rem;
    background-color: #9ea3a7e0;
    padding: 1.5rem;
    width: 10rem;
    margin: 2rem 2rem 2rem 2rem;
    transition: .3s;
}

.displayed-pokemon-id {
    padding: 1.5rem 3.5rem;;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
}

.displayed-pokemon-name {
    padding: 1.5rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.displayed-pokemon-sprite:hover {
    background-color: rgba(216, 216, 216, 0.87);

}