.pokemon-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searched-pokemon-sprite {
    border: .4rem solid #000000bb;
    border-radius: 2rem;
    background-color: #9ea3a7e0;
    padding: 2rem;
    width: 15rem;
    margin: 2rem 2rem 1rem 2rem;
}

.searched-pokemon-basic-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin: 1rem;
    background-image: linear-gradient(#4f758fe0, #a7bac7e0);
    border-radius: 1rem;
    padding: 0 2rem;
    width: 15rem;

}

.searched-pokemon-name {
    text-transform: capitalize;
    margin-bottom: 0;
}

.searched-pokemon-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-top: 0;

}

.searched-pokemon-stats {
    text-transform: capitalize;

    padding: 0 2rem;
    background-image: linear-gradient(#a7bac7e0, #4f758fe0);
    border-radius: 1rem;
    width: 15rem;
}