.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, rgba(128, 128, 128, 0.645))
}

.pokedex-logo {
    height: 4rem;
    padding-bottom: .5rem;
}

@media only screen and (min-width: 1024px) {
    .header-container {
        padding: 0 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .pokedex-logo {
        margin-bottom: 0;
    }
}