body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('./Assets/pokeballs2.jpg');
  background-repeat: repeat;
  z-index: -1;
}

.main-content {
  height: calc(100vh - 7.3rem);
  overflow-y: auto;
}

.mid-screen {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px){

  .main-content {
    height: calc(100vh - 4.5rem);
    overflow-y: auto;
  }
}
